
.wrapper{
    padding: 8px;


}

.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    margin:50px 0;


}
.tab-item{
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 16px;
    border: none;
    color: #fff;
    background-color: #340b43;
    cursor: pointer;

}

.tab-item.active{
    border-color: #000;
    background-color: #b4e22b;
    columns: #000;
}

.content{
    padding: 20px 10px;
    height: 200px;
    overflow: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
}