

.tik-tak-toe-container{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 50px;

}

.square{
    border: 1px solid red;
    float: left;
    font-size: 40px;
    font-weight: bold;
    height: 150px;
    padding: 0px;
    text-align: center;
    width: 150px;
    margin-right: -1px;
    margin-top: -1px;
    cursor: pointer;
}