

.search-engine {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;

}

.search-engine input {
    width: 70%;
    height: 45px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    padding: 12px 15px;
    outline: none;
    background-color: #ffffff;
    color: #555555;
}
.search-engine button {
    border: none;
    border-radius: 8px;
    background-color: #000000;
    font-size: 20px;
    cursor: pointer;
    padding: 12px 15px;
    outline: none;
    color: #ffffff;

}