
.weather-app {
    text-align: center;
    margin: 50px auto 0px;
    width: 90%;
    border-radius: 20px;
    max-width: 700px;
    height: 480px;
    padding:20px 15px;
    background: rgb(0, 255,166);

}
.city-name{
    margin-bottom: 2px;
}
.location{
    font-size: 20px;
    font-weight: 600;
}
.date {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}

.temperature{
    font-size: 64px;
    color: #000;
    font-weight: bold;
}

.description{
    color: #000;
    font-size: 24px;
    font-weight: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.weather-info{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: bold;
}   

.column{
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 1px;
}