
.github-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.input-wrapper{
    margin: 10px 0;

}
.input-wrapper input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

.input-wrapper button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color:wheat;
    cursor: pointer;
}
.user{
    border-radius: 10px;
    border: 1px solid brown;
    text-align: center;
}
.avatar{
    height: 300px;
    aspect-ratio: 1/1;
    border-radius: 50%;



}
.stats{
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.2;
}



